* {
    box-sizing: border-box; /* The box-sizing property allows us to include the padding and border in an element's total width and height.*/
    /*border: 1px solid black;*/
    margin: 0px;
    padding: 0px;
}
@media (max-width: 1228px) {

    div.parent-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
        justify-content: center;
    }
    body.background-img{
        position: relative;
    }
    body.background-img::before {
        content: '';
        position: absolute; /*makes shure the background img is the same size as the parent*/
        top: -300px!important;
        left: 0px!important;
        background-image: url("img/bulbdark.svg");
        background-repeat: no-repeat;
        background-size: 100vw 100vh!important;
        opacity: 0.25;
        z-index:-1;
    }
    div.right-col-main {
        /*background-color: green;*/
        margin-top: 0rem;
    }
    div.left-col-logo{
        justify-content:center;
    }
    #left-col p.logotext1 {
        top: 5vh;
        left: 2rem;
        font-size: 40vw;
    }
    #left-col p.logotext2 {
        left: 0.3rem;
        top: 25vh;
        font-size: 30vw;
    }
    #left-col p.logotext3 {
        left: 0.3rem;
        top: 60vh;
        font-size: 22vw;
    }
    nav ul {
        flex-wrap: wrap;
    }
    nav a {
        min-width: 100%;
        text-align: center;
        margin-left: 0rem;
        background-color: lightsteelblue;
    }
}
body {
    font-family: 'Quantico', sans serif;
    margin-top: 0rem; 
}
body.background-img{
    position: relative;
}
body.background-img::before {
    content: '';
    position: absolute; /*makes shure the background img is the same size as the parent*/
    top: 0px;
    left: 10rem;
    right: 0px;
    bottom: 0px;
    background-image: url("img/bulbdark.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 600px;
    opacity: 0.25;
    z-index:-1;
}

.parent-container {
    display: grid;
    gap: 0 20px;
    grid-template-columns: 600px 800px;
    grid-template-rows: 100vh;
    justify-content: left; /* align horizontal */
}
.left-col-logo{
    /*background-color: red;*/
    /*width: 600px;
    height: 100%;*/

}
.right-col-main {
    /*background-color: green;*/
    margin-top: 3rem;
}
nav ul {
    display: flex;
}
nav ul a {
    flex-grow: 1;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem
}
nav a a {
    margin-left: 3rem;
}
nav a:hover {
    background-color:lightsteelblue;
}
div p.logotext1 {
    font-weight: bold;
    position: absolute;
    top: 5rem;
    left: 2rem;
    font-size: 15rem;
}
div p.logotext2 {
    font-weight: bold;
    position: absolute;
    top: 17rem;
    left: 0.5rem;
    font-size: 8rem;
    color: lightsteelblue;
}
div p.logotext3 {
    font-weight: bold;
    position: absolute;
    top: 30rem;
    left: 0.5rem;
    font-size: 8rem;
}
h1.h1about-me {
    font-size: 4rem;
}