* {
    box-sizing: border-box; /* The box-sizing property allows us to include the padding and border in an element's total width and height.*/
    /*border: 1px solid black;*/
    margin: 0;
    padding: 0;
}

@media all and (max-width: 767px) {
    body {
        margin: 0rem;
    }
    div.right-col-container {
        margin: 0rem;
        flex-basis: 100%;
    }
    nav ul {
        flex-wrap: wrap;
    }
    nav a {
        min-width: 100%;
        text-align: center;
        margin-left: 0rem;
        background-color: lightsteelblue;
}
    nav a:active {
        color: white;
}
}
@media all and (max-width: 1100px) {
    body {
        margin: 0rem!important;
    }
    div.right-col-container {
        margin: 0rem;
        flex-basis: 100%;
    }
    nav ul {
        flex-wrap: wrap;
    }
    nav a {
        flex-basis: 50%;
        text-align: center;
        margin-left: 0rem;
        background-color: lightsteelblue;
    }
    nav a:active {
        color: white;
}

}
body {
    font-family: 'Quantico', sans serif;
    margin-right: 3rem;
    margin-top: 3rem;
}
.parent-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: -webkit-flex; /* old versions of Chrome/Safari/Opera */
    display: -ms-flexbox; /* IE10 */  
    -webkit-flex-wrap: wrap; /* old versions of Chrome/Safari/Opera */
    justify-content: center; /* align horizontal */
}

div.left-col-logo{
    /*background-color: red;*/
    max-width: 600px;
    height: 100%px;
}

div.right-col-container {
    /*background-color: green;*/
    flex-grow: 1;
}

nav ul {
    display: flex;
}

nav ul a {
    flex-grow: 1;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.5rem 0;
    text-align: center;
}
nav a a {
    margin-left: 1rem;
}
nav a:hover {
    background-color:lightsteelblue;
}